@import '~scss/global-vars';
@import '~scss/mixins/size';

$hover-delete-btn-color: #fcf0f0;

.feed-item {
  margin-bottom: 7px;
  transition: opacity 500ms;

  &--is-inactive {
    opacity: .4;
  }

  &__checkbox {
    display: none;
  }

  &__label {
    @include size(21px);
    border: 3px solid $color-white;
    border-radius: 21px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  &__feed-name {
    color: $color-white;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: calc(100% - 90px);
  }

  &__delete-btn {
    @include size(21px);
    background-repeat: no-repeat;
    color: $color-white;
    display: inline-block;
    font-size: 21px;
    margin-left: 15px;
    transition: color 100ms, transform 100ms ease;
    vertical-align: middle;

    &:active {
      transform: scale(.85);
    }

    &:hover {
      color: $hover-delete-btn-color;
    }
  }
}