<section class="add-new-feed">
  <div class="add-new-feed__container">
    <div class="add-new-feed__header">Add a new feed</div>
    
    <Generic-Input-Box class="add-new-feed__input--dark" 
                       placeholderText="Type your feed name..." 
                       ref="feedNameInput"
                       @valueChanged="updateFeedName">
    </Generic-Input-Box>
    <Generic-Input-Box class="add-new-feed__input--dark" 
                       placeholderText="Copy your RSS url..." 
                       ref="feedUrlInput"
                       @valueChanged="updateFeedUrl">
    </Generic-Input-Box>

    <Generic-Button button-text="Add feed" class="add-new-feed__button--blue" @pressed="onClick()"></Generic-Button>
  </div>
</section>