@import '~scss/mixins/prefixed/placeholder';
@import '~scss/global-vars';

.content-viewer {
  background-color: $content-background;
  flex: 1;
  overflow-y: scroll;
  padding: 20px 0;
}

.content-viewer__grid {
  margin: 0 auto;
}

.content-viewer__column-sizer {
  display: none;
  width: 25%;
}

.content-viewer__gutter-selector {
  display: none;
  width: 20px;
}

.content-viewer__item {
  margin-bottom: 10px;
  transform: translateZ(0);
  width: 25%;
}

@media screen and (max-width: 1600px) {
  .content-viewer__column-sizer,
  .content-viewer__item {
    width: 33%;
  }
}

@media screen and (max-width: 1100px) {
  .content-viewer__column-sizer,
  .content-viewer__item {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .content-viewer__column-sizer,
  .content-viewer__item {
    width: 100%;
  }
}