@import "~scss/global-vars";
@import "~scss/mixins/size";
@import "~scss/mixins/position";

.tool-drawer {
  @include size(295px, 100%);
  background-color: $drawer-background;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px 18px;
  position: relative;
  text-align: center;

  &__title {
    color: $title-light-text-color;
    flex: 0;
    font-size: 1.65rem;
    font-weight: lighter;
  }
}